.DS_Store
.ssh
.aws
zsh/*
!zsh/.zshenv
!zsh/.zshrc
!zsh/.zprofile
vim/*
!vim/vimrc
nvim/*
!nvim/init.lua
/.serena
/mise/config.local.toml
/mise/miserc.toml
/codex/*
!/codex/config.toml
!/codex/AGENTS.md
