# | sort -k 1
# claude-swap
# git+https://github.com/github/spec-kit.git
# openhands-ai
# openshell
# pr-agent
git+https://github.com/th2ch-g/tmplot.git
gitingest
kaggle
lizard
markitdown[all]
maturin
nvitop
pre-commit
rendercv[full]
terminaltexteffects
